<h2>タスク詳細画面</h2>

<table>
  <tr>
    <th>タスク名</th>
    <th>タスク詳細</th>
  </tr>
  <tr>
    <td><%= @task.title %></td>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'タスク一覧へ戻る', tasks_path %>
